mat-toolbar {
    background: #f7f7f7;
}
.user-image {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.mat-toolbar-row.justify-content-between {
    height: 95px;
    border-bottom: 2px solid #70707099;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.aliq {
    display: flex;
    justify-content: space-evenly;
}
.name {
    padding-top: 15px;
}
