<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo2@2x.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <!-- <h2 matSubheader class="mt-2">APPLICATIONS</h2> -->
  <div class="nav">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>calendar_today</mat-icon> Leaves
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>schedule</mat-icon> Timesheet
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/expenses">
      <mat-icon>money</mat-icon> Expenses
    </a>
  </div>
</mat-nav-list>
