/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
    border-bottom: 1px solid rgb(158, 153, 153);
    margin-left: 1%;
    margin-right: 1%;

}
.mat-toolbar-row.justify-content-between {
    width: 98%;
    height: 100px;

}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7)
}
.modal-backdrop {
    z-index: 0 !important;
}
.modal {
    position: fixed;
    left: 130px;
}

/* ::ng-deep .modal-backdrop {
    position: inherit !important;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
} */
