/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
    border-bottom: 1px solid rgb(158, 153, 153);
    margin-left: 1%;
    margin-right: 1%;

}
.mat-toolbar-row.justify-content-between {
    width: 98%;

}
